*{
  margin:0;
  padding:0;
  color:#eee;
}

/* body styles */
body{
  background:#222;
}

header, footer{
  background:#111;
}

header{height:15vh;}

footer{height:15vh;}

/* container */
.content{
  min-height: 70vh;
}

/* flex center  */
.flex-center{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}

/* makes items inside full length to stack properly */
.flex-center h1, .flex-center h3, nav{
  width:100%;
}

ul{
  list-style: none;
  height: 100%;
}

a{
  text-decoration: none;
  width:20%;
  background:#333
}

li{
  /* display: inline-block; */
  width:20%;
}
