*{
  margin:0;
  padding:0;
  color:#eee;
}

/* body styles */
body{
  background:#222;
}

header, footer{
  background:#111;
}

header{height:15vh;}

footer{height:15vh;}

/* container */
.content{
  min-height: 70vh;
}

/* flex center  */
.flex-center{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}

/* makes items inside full length to stack properly */
.flex-center h1, .flex-center h3, nav{
  width:100%;
}

ul{
  list-style: none;
  height: 100%;
}

a{
  text-decoration: none;
  width:20%;
  background:#333
}

li{
  /* display: inline-block; */
  width:20%;
}

input{
  color:black;
}

/*
|--------------------------------------------------------------------------
| Anime Query
|--------------------------------------------------------------------------
*/
.anime_container_search{
  display:flex;
  justify-content: space-around;
  align-items:center;
  flex-wrap:wrap;
}

.anime_search{
  display:flex;
  flex-flow:row wrap;
  /* height:60vh; */
  width:40vw;
  padding:30px 0;
  /* border:1px solid white; */
}
.anime_en_title{
  flex:1 100%;
  text-align: center;
  padding:5px 0;
  background:rgba(0,0,0,.5);
}
.anime_jp_title{
  width:5%;
  /* transform: rotate(90deg);
	transform-origin: left top 0; */
  /* word-wrap: break-word; */
  writing-mode: vertical-rl;
  order:2;
  font-size:12px;
  overflow:hidden;
  /* height:50vh; */
  background:rgba(0,0,0,.5);
  /* background:blue; */
}
.anime_image_search{
  width: 55%;
  order:3;
  /* background:red; */
}

.anime_image_search img{
  width:100%;
  vertical-align: bottom;
}
.anime_description{
  width: 40%;
  height:31.25vw;
  overflow-y: auto;
  order:4;
  font-size:14px;
  padding:5px;
  box-sizing: border-box;
  background:rgba(0,0,0,.5);
  /* background:green; */
}
.anime_footer{
  flex:5 100%;
  order:5;
}

.anime_link_search{
  width:50%;
  display: inline-block;
}

.anime_form_fave{
  display:inline-block;
  width: 50%;
  float: right;
}
.anime_form_fave input{
  width:100%;
}

/*
|--------------------------------------------------------------------------
| Anime Show
|--------------------------------------------------------------------------
*/

.anime_show_container{
  border:1px solid white;
  display: flex;
  padding:0 30px;
  /* width:90vw; */
  min-height:70vh;
  margin:0 auto;
}

.anime_show_section{
  width:33.3%;
}

.anime_dossier{}

.anime_info{
  display:inline-block;
  width:49%;
}