<% include ../ejs/partials/head %>

<h1>welcome</h1>
<div class="anime_index">
  <a class="anime_index_link" id="search" href="/show/search">Search</a>
  <a class="anime_index_link" id="signup" href="/user/new">Sign Up</a>
  <a class="anime_index_link" id="login" href="/user/login">Login</a>
</div>

<% include ../ejs/partials/foot %>