<% include ../partials/head %>

  <h1>My Favorite Anime</h1>
  <% favorites.forEach( fave => { %>
    <div class="anime_favorite_item">
      <div class="anime_favorite_image">
        <img src="<%= fave.anime_image %>" alt="">
      </div>
      <div class="anime_favorite_info">
        <p class="anime_favorite_title"><%= fave.anime_title %></p>
      </div>

      <a href="/show/<%= fave.anime_id %>/comment" class="anime_favorite_comment_link"><i class="fa fa-comments"></i> Comment</a>
    </div>
  <% }) %>

<% include ../partials/foot %>