<% include ../partials/head %>

  <h1>user favorites</h1>
  <% favorites.forEach( fave => { %>
    <div class="anime_favorite_list">
      <h1><%= fave.anime_id %></h1>
      <h1><%= fave.anime_title %></h1>
      <h1><%= fave.anime_image %></h1>
      <a href="/show/<%= fave.anime_id %>/comment">comment</a>
    </div>
  <% }) %>

<% include ../partials/foot %>