<% include ../partials/head %>

  <h1>log in</h1>

  <form action="/user/profile" method="post" class="anime_login">
    <label class="anime_login_input" for="">User Name</label>
    <input class="anime_login_input anime_login_text"type="text" name="username" placeholder="User Name">
    <label class="anime_login_input"for="">Password</label>
    <input class="anime_login_input anime_login_text"type="password" name="password" placeholder="Password">
    <button class="anime_login_input anime_login_button" type="submit"><i class="fa fa-save"></i> Submit</button>
  </form>

  <% include ../partials/foot %>