<% include ../partials/head %>

  <h1>log in</h1>

  <form action="/user">
    <!-- <input type="text" name="fname" id="" placeholder="First Name">
    <input type="text" name="lname" id="" placeholder="Last Name"> -->
    <input type="text" name="username" id="" placeholder="User Name">
    <input type="text" name="password" id="" placeholder="Password">
    <input type="submit">Submit
  </form>

  <% include ../partials/foot %>