<% include ../partials/head %>

<h1>User: <%= user.username%></h1>
<h3>Alias: Code 00<%= user.id%></h3>
<br>
<a class="anime_index_link" href="favorites"><i class="fa fa-heart"></i> Favorites</a>

<% include ../partials/foot %>