<% include ../partials/head %>

<h1>sign up</h1>

<form action="/user" method="post">
  <input type="text" name="fname" id="" placeholder="First Name">
  <input type="text" name="lname" id="" placeholder="Last Name">
  <input type="text" name="username" id="" placeholder="User Name">
  <input type="password" name="password_hash" id="" placeholder="Password">
  <input type="submit">
</form>

<% include ../partials/foot %>