</div>
<footer>
  <nav>
    <ul class="flex-center">
      <a href="/">
        <li>home</li>
      </a>
      <a href="/user/profile">
        <li>profile</li>
      </a>
      <a href="/show/search">
        <li>search</li>
      </a>
      <a href="/user/login">
        <li>login</li>
      </a>
    </ul>
  </nav>
</footer>
</body>
</html>