</div>
<footer>
  <nav>
    <ul class="flex-center">
      <a class="anime_nav" href="/">
        <i class="fa fa-home"></i><li>Home</li>
      </a>
      <a class="anime_nav" href="/user/profile">
        <i class="fa fa-users"></i><li>Profile</li>
      </a>
      <a class="anime_nav" href="/show/search">
        <i class="fa fa-search"></i><li>Search</li>
      </a>
      <a class="anime_nav" href="/user/login">
        <i class="fa fa-sign-in"></i><li>Login</li>
      </a>
    </ul>
  </nav>
</footer>
</body>
</html>