</div>
<footer>
  <nav>
    <ul class="flex-center">
      <a href="">
        <li>links</li>
      </a>
      <a href="">
        <li>links</li>
      </a>
      <a href="">
        <li>links</li>
      </a>
      <a href="">
        <li>links</li>
      </a>
    </ul>
  </nav>
</footer>
</body>
</html>