<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>AniME Database</title>
</head>
<body>
<header class="flex-center">
  <h1>AniME</h1>
  <h3>Your Personal Anime Database</h3>
</header>
<div class="content">
