<% include ../partials/head %>

<h1>Search</h1>

<form action="/show" method="post" class="anime_search_form">
  <input type="text" name="query" class="anime_search_bar">
  <button class="anime_search_button" type="submit"><i class="fa fa-search"></i></button>
</form>

<% include ../partials/foot %>