<% include ../partials/head %>

<h1>Search</h1>

<form action="/show" method="post">
  <input type="text" name="query" id="search">
  <!-- <button>submit</button> -->
  <input type="submit" name="" id="">
</form>

<% include ../partials/foot %>